<%= f.error_messages %>
<div>
	<%= f.label :title %>
	<%= f.text_field :title %>
</div>
<div>
	<%= f.label :description %><br />
	<%= f.text_area :description %>
</div>
<div>
	<%= f.file_field :file %>
</div>