<tr class="<%= cycle('even', 'odd') %>">
	<td><%= check_box_tag 'videos[]', video.id %></td>
	<td><%= image_tag(video.preview.url(:icon)) %></td>
	<td><%= video.title %></td>
	<td>
	  <% if video.encoded_videos.length > 0 %>
    <% for encoded_video in video.encoded_videos %>
    <%=link_to (h encoded_video.video_format.title), encoded_video_path(encoded_video) %><br />
    <% end %>
    <% else %>
    None
    <% end %>
	</td>
	<td><%= video.file_file_name %></td>
	<td class="actions">
		<%= link_to 'Show', video %> | 
		<%= link_to 'Encode', {:controller => "videos", :action => "encode", :id => video } %> | 
		<%= link_to 'Previews', {:controller => "videos", :action => "preview", :id => video } %> | 
		<%= link_to 'Edit', edit_video_path(video) %> | 
 		<%= link_to 'Destroy', video, :confirm => 'Are you sure?', :method => :delete %>
	</td>
</tr>