<%- content_for :javascripts do -%>
<%= javascript_include_tag(videos_path, :format => :js) %>
<%- end -%>

<h1>Listing Videos</h1>
<div id="asset_nav"><%= link_to 'Upload Videos', new_video_path %> | <%= link_to "Edit Selected", '#', :id => 'edit_selected' %> | <%= link_to "Delete Selected", '#', :id => 'delete_selected' %></div>
<%- if @videos.length > 0 -%>
<form action="#">
	<table id="asset_list">
		<tr>
			<th></th>
			<th>Preview</th>
			<th>Title</th>
			<th>File Name</th>
			<th>Options</th>
		</tr>
		<%= render @videos %>
	</table>
	<%= will_paginate @videos %>
</form>
<div id="asset_nav_footer">
  <%= link_to 'Upload Videos', new_video_path %>
</div>
<%- else -%>
<div id="no_assets_message">
  There are currently no videos to display.
</div>
<%- end -%>