<%- content_for :javascripts do -%>
<%= javascript_include_tag(videos_path, :format => :js) %>
<%- end -%>

<h1>Listing Videos</h1>
<div><%= link_to "Edit Selected", '#', :id => 'edit_selected' %> | <%= link_to "Delete Selected", '#', :id => 'delete_selected' %></div>
<form action="#">
	<table>
		<tr>
			<th></th>
			<th>Title</th>
			<th>File Name</th>
			<th>Preview</th>
			<th>Options</th>
		</tr>
		<%= render @videos %>
	</table>
</form>
<br />
<%= link_to 'Upload Videos', new_video_path %>