<h1>Show Video</h1>
<div id="asset_nav">
  <%= link_to 'Edit', edit_video_path(@video) %> |
  <%= link_to 'Back', videos_path %>
</div>
<div>
  <%= @video.embed %>
</div>
<p>
  <strong>File Name:</strong> <%= @video.file_file_name %>
</p>
<p>
  <strong>Title:</strong> <%=h @video.title %>
</p>
<p>
  <strong>Tags:</strong> <%=h @video.tag_list %>
</p>
<%= textilize @video.description %>