<tr class="<%= cycle('even', 'odd') %>">
  <td><%=h crop_definition.asset_category.name %></td>
  <td><%=h crop_definition.name %></td>
  <td><%=h crop_definition.minimum_width %></td>
  <td><%=h crop_definition.minimum_height %></td>
  <td><%=h crop_definition.x %></td>
  <td><%=h crop_definition.y %></td>
  <td><%=h crop_definition.locked_ratio %></td>
  <td><%=h crop_definition.selection_enabled %></td>
  <td><%=h crop_definition.selection_moveable %></td>
  <td><%=h crop_definition.selection_resizable %></td>
  <td><%= link_to 'Show', crop_definition %></td>
  <td><%= link_to 'Edit', edit_crop_definition_path(crop_definition) %></td>
  <td><%= link_to 'Destroy', crop_definition, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>