<p>
  <b>Asset category:</b>
  <%=h @crop_definition.asset_category %>
</p>

<p>
  <b>Name:</b>
  <%=h @crop_definition.name %>
</p>

<p>
  <b>Minimum width:</b>
  <%=h @crop_definition.minimum_width %>
</p>

<p>
  <b>Minimum height:</b>
  <%=h @crop_definition.minimum_height %>
</p>

<p>
  <b>X:</b>
  <%=h @crop_definition.x %>
</p>

<p>
  <b>Y:</b>
  <%=h @crop_definition.y %>
</p>

<p>
  <b>Locked ratio:</b>
  <%=h @crop_definition.locked_ratio %>
</p>


<%= link_to 'Edit', edit_crop_definition_path(@crop_definition) %> |
<%= link_to 'Back', crop_definitions_path %>