<h1>Show Crop Definition</h1>
<div id="asset_nav">
  <%= link_to 'Edit', edit_crop_definition_path(@crop_definition) %> |
  <%= link_to 'Back', crop_definitions_path %>
</div>
<div>
  <strong>Asset category:</strong> <%=h @crop_definition.asset_category.name %>
</div>
<p>
  <strong>Name:</strong> <%=h @crop_definition.name %>
</p> 
<p>
  <strong>Minimum width:</strong> <%=h @crop_definition.minimum_width %>
</p>
<p>
  <strong>Minimum height:</strong> <%=h @crop_definition.minimum_height %>
</p>
<p>
  <strong>X:</strong> <%=h @crop_definition.x %>
</p>
<p>
  <strong>Y:</strong> <%=h @crop_definition.y %>
</p>
<p>
  <strong>Locked ratio:</strong> <%=h @crop_definition.locked_ratio %>
</p>