<%= f.error_messages %>

<div class="fw"><%= f.label :crop_definition_id, 'Crop definition' %><br />
<%= f.collection_select :crop_definition_id, @image.crop_definitions, :id, :name %></div>


<div id="slider" style="display: block; width: 250px;"></div>
<br/><br/>

<div id="image"><%= render :partial => 'image' %></div>

<%= hidden_field_tag :scale, "25" %>
<%= f.hidden_field :offset_x %>
<%= f.hidden_field :offset_y %>
<%= f.hidden_field :width %>
<%= f.hidden_field :height %>