<%= f.error_messages %>

<div class="fw"><%= f.label :crop_definition_id, 'Crop definition' %><br />
<%= f.collection_select :crop_definition_id, @image.crop_definitions, :id, :name %></div>
<%= observe_field :crop_crop_definition_id, :url => new_image_crop_path(@image), :with => 'image[crop_definition_id]', :method => :get %>

<div id="image">
  <%= image_tag(@image.file.url, :id => 'jcrop-target') %>
</div>

<div class="fw"><%= f.label :offset_x %><br />
<%= f.text_field :offset_x %></div>

<div class="fw"><%= f.label :offset_y %><br />
<%= f.text_field :offset_y %></div>

<div class="fw"><%= f.label :width %><br />
<%= f.text_field :width %></div>

<div class="fw"><%= f.label :height %><br />
<%= f.text_field :height %></div>