<%= f.error_messages %>

<div class="fw"><%= f.label :crop_definition_id, 'Crop definition' %><br />
<%= f.collection_select :crop_definition_id, @image.crop_definitions, :id, :name %></div>

<p>Image scale: <span id="scale-number"><%= params[:scale] || Crop::DEFAULT_IMAGE_SCALE %>%</span></p>
<div id="slider"></div>

<%= image_tag(@image.file.url, :id => 'crop-target') %>

<%= hidden_field_tag :scale, Crop::DEFAULT_IMAGE_SCALE %>
<%= f.hidden_field :offset_x %>
<%= f.hidden_field :offset_y %>
<%= f.hidden_field :width %>
<%= f.hidden_field :height %>