<%- content_for :stylesheets do -%>
<%= stylesheet_link_tag '/jcrop/css/jquery.Jcrop.css' %>
<%- end -%>

<%- content_for :javascripts do -%>
<%= javascript_include_tag '/jcrop/js/jquery.Jcrop.js' %>
<%- end -%>

<%- content_for :document_ready do -%>
jQuery('#jcrop-target').Jcrop({
  aspectRatio: <%= @crop.crop_definition.locked_ratio ? (@crop.crop_definition.minimum_width.to_f / @crop.crop_definition.minimum_height.to_f) : 0 %>,
  bgColor: 'black',
  bgOpacity: '.5',
  boxHeight: 0,
  boxWidth: 0,
  minSize: [<%= @crop.width %>, <%= @crop.height %>],
  setSelect: [<%= @crop.offset_x %>, <%= @crop.offset_y %>, <%= @crop.offset_x + @crop.width %>, <%= @crop.offset_y + @crop.height %>],
  onChange: function(c) {
    $('#crop_offset_x').val(c.x);
    $('#crop_offset_y').val(c.y);
    $('#crop_width').val(c.w);
    $('#crop_height').val(c.h);
   }
});
<%- end -%>

<h1>Editing crop</h1>

<% form_for([@image, @crop]) do |f| %>
  <fieldset>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <p>
      <%= f.submit 'Update' %> - or - <%= link_to 'Cancel', [@image, :crops] %>
    </p>
  </fieldset>
<% end %>