<h1>Listing crops</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Crop definition</th>
    <th>Offset x</th>
    <th>Offset y</th>
    <th>Width</th>
    <th>Height</th>
  </tr>

<% @crops.each do |crop| %>
  <tr>
    <td><%=h crop.image.file_file_name %></td>
    <td><%=h crop.crop_definition.name %></td>
    <td><%=h crop.offset_x %></td>
    <td><%=h crop.offset_y %></td>
    <td><%=h crop.width %></td>
    <td><%=h crop.height %></td>
    <td><%= link_to 'Show', [@image, crop] %></td>
    <td><%= link_to 'Edit', [:edit, @image, crop] %></td>
    <td><%= link_to 'Destroy', [@image, crop], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New crop', [:new, @image, :crop] %>