<p>
  <b>Image:</b>
  <%=h @crop.image.file_file_name %>
</p>

<p>
  <b>Crop definition:</b>
  <%=h @crop.crop_definition.name %>
</p>

<p>
  <b>x1:</b>
  <%=h @crop.x1 %>
</p>

<p>
  <b>x2:</b>
  <%=h @crop.x2 %>
</p>

<p>
  <b>y1:</b>
  <%=h @crop.y1 %>
</p>

<p>
  <b>y2:</b>
  <%=h @crop.y2 %>
</p>

<p>
  <b>Width:</b>
  <%=h @crop.width %>
</p>

<p>
  <b>Height:</b>
  <%=h @crop.height %>
</p>


<%= link_to 'Edit', [:edit, @image, @crop] %> |
<%= link_to 'Back', [@image, :crops] %>