<h1>Editing asset_category</h1>

<% form_for(@asset_category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @asset_category %> |
<%= link_to 'Back', asset_categories_path %>