<%= f.error_messages %>

<div><%= f.file_field :file %></div>

<div><%= f.label :title %><br/>
<%= f.text_field :title %></div>

<div><%= f.label :description %><br/>
<%= f.text_area :description %></div>