<%= f.error_messages %>

<div class="fw"><%= f.file_field :file %></div>
<%= f.hidden_field :image_ids %>

<%- unless @image.new_record? -%>
  <div class="fw"><%= image_tag(@image.file(:edit)) %></div>

  <div class="fw"><%= f.label :asset_category_ids, 'Asset categories' %>
  <%= f.collection_select :asset_category_ids, AssetCategory.all, :id, :name, {}, :multiple => true %></div>

  <div class="fw"><%= f.label :title %>
  <%= f.text_field :title %></div>

  <div class="fw"><%= f.label :description %>
  <%= f.text_area :description %></div>

  <div class="fw"><%= f.label :tag_list, 'Tags (separate tags with a comma)' %>
  <%= f.text_field :tag_list %></div>
<%- end -%>