<%= f.error_messages %>

<div class="fw"><%= f.file_field :file %></div>
<%= f.hidden_field :image_ids %>

<%- unless @image.new_record? -%>
  <div class="fw"><%= f.label :title %><br/>
  <%= f.text_field :title %></div>

  <div class="fw"><%= f.label :description %><br/>
  <%= f.text_area :description %></div>

  <div class="fw"><%= f.label :tag_list, 'Tags (separate tags with a comma)' %><br/>
  <%= f.text_field :tag_list %></div>
<%- end -%>