<%- content_for :javascripts do -%>
<%= javascript_include_tag(images_path, :format => :js) %>
<%- end -%>

<h1>Listing images</h1>

<div><%= link_to "Edit selected", '#', :id => 'edit_selected' %> | <%= link_to "Delete selected", '#', :id => 'delete_selected' %></div>

<table id="asset_list">
  <tr>
    <th></th>
    <th>Title</th>
    <th>File Name</th>
    <th>Thumbnail</th>
    <th>Actions</th>
  </tr>
  <%= render @images %>
</table>

<p><%= link_to 'New image', new_image_path %></p>