<ul id="global_toolbar">
  <li class="am_toolbar_button"><strong>- Asset Manager -</strong></li>
  <li><%= link_to "Audio", audios_path %></li>
  <li><%= link_to "Images", images_path %></li>
  <li><%= link_to "Videos", videos_path %></li>
  <li><%= link_to "Asset Categories", asset_categories_path %></li>
  <li><%= link_to "Crop Definitions", crop_definitions_path %></li>
  
</ul>
<hr class="asset_reset" />